TEAMS_REFRESH_TOKEN=your_value_here
TEAMS_CLIENT_ID=optional_custom_app_id_here
TEAMS_CLIENT_SECRET=optional_custom_app_secret_here
GH_PAT=your_value_here
GITHUB_REPOSITORY=your_value_here
TELEGRAM_API_ID=your_value_here
TELEGRAM_API_HASH=your_value_here
TELEGRAM_BOT_TOKEN=your_value_here
TELEGRAM_CHAT_ID=your_value_here
TELEGRAM_SESSION_STRING=your_value_here_optional_for_over_50MB
SUBJECTS_JSON="{"subjects":[{"name":"Example Subject","short":"Example","keywords":["example"]}]}"
